<div class="container my-5" id="about">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
     
      <h1 class="text-body-emphasis">About me</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Hi, Im Yuchien Huang. I was in music professional field for 20 years. One day, i woke up and had an idea came up which is maybe i will fall in love with coding.
        Therefore, i step on the path for programming. As a self-taught programmer, it was not easy at beginning; however, the more i work on it, the more i fall in love with the field.
        Hopefully, the programming journey will lead me and show me different of views of this industry. 

        <br>

      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          Contact me
          <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
        </button>
      </div>
    </div>
  </div>