<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Projects</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img class="bd-placeholder-img rounded-circle" src="images/shopping.jpg" alt="shopping" width="100" height="100">
        
        <h3 class="fs-2 text-body-emphasis">Shopping</h3>
        <p>Using Webscraping and automation to remind you to purchase best discounted items from to-buy list. Never miss the best deal and save your wallet. </p>
        <a href="#" class="icon-link">
          Take a look
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <img class="bd-placeholder-img rounded-circle" src="images/hiring.jpg" alt="shopping" width="100" height="100">
        <h3 class="fs-2 text-body-emphasis">Music gigs</h3>
        <p>Creating website which helps musicians to find teaching and perming gig in order to create more opporunities for them to be seen.</p>
        <a href="#" class="icon-link">
          Take a look
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <img class="bd-placeholder-img rounded-circle" src="images/chatting.jpg" alt="shopping" width="100" height="100">
        <h3 class="fs-2 text-body-emphasis">Chatting Room</h3>
        <p>Feeling lonely? Let our chatting Room help you to talk to someone who can listen to you sincerely. </p>
        <a href="#" class="icon-link">
          Take a look
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>